<div class="container">
    <h2 *ngIf="data.register">{{'title.register' | translate}}</h2>
    <h2 *ngIf="data.addFriend">{{'title.addFriend' | translate}}</h2>
    <h2 *ngIf="data.openLoan">{{'title.openLoan' | translate}}</h2>
    <div class="wrapper">
        <button *ngIf="!data.ghostProfile" class="clickOk" (click)="pressOk()" color="primary" mat-raised-button>
            Ok
        </button>
    </div>

    <form [formGroup]="newEmailForm">
        <mat-form-field *ngIf="data.ghostProfile">
            <mat-label>{{'label.email' | translate}}</mat-label>
            <input type="email" matInput id="email" name="email" formControlName="email" required>
        </mat-form-field>
    </form>


    <button *ngIf="data.ghostProfile" (click)="newGhostFriend()" color="primary" mat-raised-button>
        Add friend
    </button>

</div>