<div class="header" *ngIf="navigation" hidden>
    <h1 class="title">Loan Management System</h1>
</div>

<form [formGroup]="userForm">

    <div class="container">
        <h2> Log In </h2>

        <mat-form-field>
            <mat-label><strong>Enter you login</strong></mat-label>
            <input type="text" matInput class="form-control" id="email" name="email" required formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <mat-label><strong>Enter you password</strong></mat-label>
            <input type="password" matInput class="form-control" id="password" name="password" required
                formControlName="password">
        </mat-form-field>

        <button type="button" mat-raised-button (click)="loginUser()" routerLink="/profile"
            [disabled]="!userForm.valid">Log in</button>
    </div>

</form>