.mat-raised-button {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
  font-size: 20px;
}

mat-form-field {
  width: 100%;
}

mat-label {
  font-size: 18px;
}

.container {
  text-align: center;
  width: 25%;
  padding: 0px 10px;
  background-color: rgba(242, 242, 242, 0.7);
  border-radius: 3px;
  margin: 30px auto;
}

.header {
  width: 100vw;
  background-color: #007af6;
  display: flex;
  justify-content: center;
}

.title {
  color: white;
  font-size: 30px;
  padding: 16px 0;
}
