h1 {
  color: #6f6f6f;
  font-size: 24px;
  text-align: center;
}

mat-form-field {
  width: 100%;
}

table {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px;
  background-color: rgba(242, 242, 242, 0.7);
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin: 30px auto;
}

th {
  font-size: 16px;
}

/* media queries */
@media (max-width: 450px) {

  .container {
    width: 90vw;
  }
}
