table {
  width: 100%;
}

.container {
  width: 50vw;
}

th {
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}

/* media queries */
@media (max-width: 450px) {
  .container {
    width: 90vw;
  }
}