h1 {
  color: #6f6f6f;
  font-size: 24px;
  text-align: center;
}

table {
  width: 100%;
}

input {
  width: 50%;
}

.container {
  width: 70vw;
  padding: 16px;
  background-color: rgba(242, 242, 242, 0.7);
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin: 30px auto;
}

th {
  font-size: 16px;
}
