hr {
  border: 1px solid #6f6f6f;
  margin-bottom: 25px;
}

h2 {
  font-size: 24px;
  color: #6f6f6f;
  text-align: center;  
}

.mat-raised-button {
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 20px; 
}

.mat-raised-button:active {
  background-color: orange;
  color: white;
}

mat-form-field {
  width: 100%;
}

mat-label {
  font-size: 18px;
  color: white;
}

.container {
  text-align: left;
  width: 90%;
  padding: 0px 10px;
  background-color: rgba(242, 242, 242, 0.7);
  border-radius: 3px;
  margin: 30px auto;
}
