<div class="container">
    <form [formGroup]="userForm">
        <h2>{{'title.registerForm' | translate}}</h2>
        <hr>

        <mat-form-field>
            <mat-label>{{'label.email' | translate}}</mat-label>
            <input type="text" matInput class="form-control" id="email" name="email" formControlName="email">
            <mat-error *ngIf="userForm.controls['email'].hasError('required')">
                {{'errors.emailRequired' | translate}}
            </mat-error>
            <mat-error
                *ngIf="userForm.controls['email'].hasError('email') && !userForm.controls['email'].hasError('required')">
                {{'errors.emailIsValid' | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'label.password' | translate}}</mat-label>
            <input type="password" matInput class="form-control" id="password" name="password" required
                formControlName="password">
            <mat-error *ngIf="userForm.controls['password'].hasError('required')">
                {{'errors.passwordRequired' | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'label.firstName' | translate}}</mat-label>
            <input type="text" matInput class="form-control" id="firstName" name="firstName" required
                formControlName="firstName">
            <mat-error *ngIf="userForm.controls['firstName'].hasError('required')">
                {{'errors.firstNameRequired' | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'label.lastName' | translate}}</mat-label>
            <input type="text" matInput class="form-control" id="lastName" name="lastName" required
                formControlName="lastName">
            <mat-error *ngIf="userForm.controls['lastName'].hasError('required')">
                {{'errors.lastNameRequired' | translate}}
            </mat-error>
        </mat-form-field>

        <button type="button" mat-raised-button (click)="registerUser()"
            [disabled]="!userForm.valid">{{'buttons.registration' | translate}}
        </button>

    </form>
</div>
