<div class="header" *ngIf="hasHeader">
    <div class="header_subcontainer">

        <h1 class="title">{{'title.loanManagementSystem' | translate}}</h1>

        <div class="menu-btn">
            <ul class="navbar">
                <a routerLink="/loans">
                    <li>{{'buttons.loans' | translate}}</li>
                </a>

                <a routerLink="/contact-list">
                    <li>{{'buttons.contactList' | translate}}</li>
                </a>

                <a routerLink="/new-credit">
                    <li>{{'buttons.newLoan' | translate}}</li>
                </a>

                <a routerLink="/add-new-friend">
                    <li>{{'buttons.addNewFriend' | translate}}</li>
                </a>
            </ul>
        </div>

        <ul class="navbar-nav">
            <li>
                <a routerLink="/register" *ngIf="!authService.loggedIn()">Register</a>
            </li>
            <li>
                <a routerLink="/login" *ngIf="!authService.loggedIn()">Login</a>
            </li>
        </ul>

        <select (change)="selectLanguage($event)" class="language-picker">
            <option value="en-US">English</option>
            <option value="ru-RU">Russian</option>
        </select>

        <button *ngIf="authService.loggedIn()" mat-raised-button routerLink="/login">
            Log out
            <span class='material-icons'>logout</span>
        </button>
    </div>
</div>

<div class="main">
    <router-outlet></router-outlet>
</div>