<div class="header" *ngIf="hasHeader">
    <div class="header_subcontainer">

        <h1 class="title">{{'title.loanManagementSystem' | translate}}</h1>

        <ul>
            <a routerLink="/loans">
                <li>{{'buttons.loans' | translate}}</li>
            </a>

            <a routerLink="/contact-list">
                <li>{{'buttons.contactList' | translate}}</li>
            </a>

            <a routerLink="/new-credit">
                <li>{{'buttons.newLoan' | translate}}</li>
            </a>

            <a routerLink="/add-new-friends">
                <li>{{'buttons.addNewFriend' | translate}}</li>
            </a>
        </ul>

        <!-- <ul class="navbar-nav">
            <li>
                <a routerLink="/register" routerLinkActive="active">Register</a>
            </li>
            <li>
                <a routerLink="/login" routerLinkActive="active">Login</a>
            </li>
        </ul> -->

        <button mat-raised-button routerLink="/login">{{'buttons.logOut' | translate}}</button>

        <select (change)="selectLanguage($event)" class="language-picker">
            <option value="en-US">English</option>
            <option value="ru-RU">Russian</option>
        </select>
    </div>
</div>

<div class="main">
    <router-outlet></router-outlet>
</div>