.header {
  background-color: rgba(26, 22, 22, 0.822);
}

.header-subcontainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

a {
  margin: 0 10px;
  text-decoration: none;
  color: grey;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Acme', sans-serif;
  transition: ease-in-out 0.4s;
}

a:hover,
a:focus {
  color: rgb(0, 0, 0);
}

.main {
  height: 100%;
  display: flex;
  justify-content: center;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 16px 0;
  font-family: 'Acme', sans-serif;
}

.language h2 {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: 'Acme', sans-serif;
}

.language-picker {
  padding: 5px 30px;
  border-radius: 5px;
  color: black;
  font-size: 14px;
  outline: none;
  font-family: 'Acme', sans-serif;
}

.mat-raised-button {
  color: black;
  padding: 0 30px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out .3s;
}

.mat-raised-button:hover {
  background-color: red;
  transition: ease-in-out .3s;
  color: white;
}

.material-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.mat-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.navbar a {
  margin: 10px 0;
}

.navbar-nav {
  margin: 10px 10px;
}