mat-form-field {
  width: 100%;
}

.mat-raised-button {
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  font-size: 20px;
}

.container {
  width: 30%;
  padding: 0px 10px;
  background-color: rgba(242, 242, 242, 0.7);
  border-radius: 3px;
  margin: 30px auto;
}

.header {
  width: 100vw;
  background-color: #007af6;
  display: flex;
  justify-content: center;
}

.header_subcontainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
}

a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover,
a:focus {
  color: orange;
}

.btn {
  width: 10%;
  color: black;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: aqua;
}
