<mat-spinner *ngIf="usersLoading"></mat-spinner>
<div class="container">
    <form *ngIf="!usersLoading" [formGroup]="newCreditForm">
        <h2>{{'title.openNewLoan' | translate}}</h2>

        <mat-form-field>
            <mat-label>{{'label.loanName' | translate}}</mat-label>
            <input type="text" matInput id="loanName" name="loanName" placeholder="{{'label.loanName' | translate}}"
                required formControlName="loanName">
            <mat-error *ngIf="newCreditForm.controls['loanName'].hasError('required')">
                {{'errors.loanNameRequired' | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{'label.firstPerson' | translate}}</mat-label>
            <input type="text" placeholder="{{'label.pickOne' | translate}}" aria-label="First Person" matInput
                formControlName="firstPerson" [matAutocomplete]="auto" readonly="true">
            <mat-error *ngIf="newCreditForm.controls['firstPerson'].hasError('required')">
                {{'errors.firstNameRequired' | translate}}
            </mat-error>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name"
                    (click)="selectName(option)">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{'label.secondPerson' | translate}}</mat-label>
            <input type="text" placeholder="{{'label.pickOne' | translate}}" aria-label="Second Person" matInput
                formControlName="secondPerson" [matAutocomplete]="auto2">
            <mat-error *ngIf="newCreditForm.controls['secondPerson'].hasError('required')">
                {{'errors.secondNameRequired' | translate}}
            </mat-error>
            <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option.name"
                    (click)="selectName2(option)">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'label.howMuch' | translate}}</mat-label>
            <input type="number" matInput id="howMuch" name="howMuch" placeholder="{{'label.howMuch' | translate}}"
                required formControlName="howMuch">
            <mat-error *ngIf="newCreditForm.controls['howMuch'].hasError('required')">
                {{'errors.howMuchRequired' | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'label.reason' | translate}}</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" formControlName="reason"></textarea>
            <mat-error *ngIf="newCreditForm.controls['reason'].hasError('required')">
                {{'errors.reasonRequired' | translate}}
            </mat-error>
        </mat-form-field>

        <button mat-raised-button (click)="onSubmit()"
            [disabled]="newCreditForm.status === 'INVALID'">{{'buttons.createNewLoan' | translate}}
        </button>
    </form>

</div>
