<div class="header" *ngIf="navigation" hidden>
    <div class="header_subcontainer">
        <mat-tab-group>
            <mat-tab label="Loans">
                <ul>
                    <a routerLink="/loans">
                        <li>Loans</li>
                    </a>
                </ul>
            </mat-tab>
            <mat-tab label="Contact List">
                <ul>
                    <a routerLink="/contact-list">
                        <li>Contact List</li>
                    </a>
                </ul>
            </mat-tab>
            <mat-tab label="New Loan">
                <ul>
                    <a routerLink="/new-credit">
                        <li>New Loan</li>
                    </a>
                </ul>
            </mat-tab>
            <mat-tab label="Add New Friends">
                <ul>
                    <a routerLink="/add-new-friends">
                        <li>Add New Friends</li>
                    </a>
                </ul>
            </mat-tab>
        </mat-tab-group>
        <h1 class="title">Loan Management System</h1>
        <button mat-raised-button class="btn" routerLink="/login">Log Out</button>
    </div>
</div>

<mat-spinner *ngIf="usersLoading"></mat-spinner>
<div class="container">
    <form *ngIf="!usersLoading" [formGroup]="newCreditForm">
        <h3>Open New Loan</h3>

        <mat-form-field>
            <input type="text" matInput id="loanName" name="loanName" placeholder="Loan Name" required
                formControlName="loanName">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>First Person</mat-label>
            <input type="text" placeholder="Pick one" aria-label="First Person" matInput formControlName="firstPerson"
                [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name"
                    (click)="selectName(option)">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Second Person</mat-label>
            <input type="text" placeholder="Pick one" aria-label="Second Person" matInput formControlName="secondPerson"
                [matAutocomplete]="auto2">
            <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option.name"
                    (click)="selectName2(option)">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <mat-label>How much</mat-label>
            <input type="text" matInput id="howMuch" name="howMuch" placeholder="How much" required
                formControlName="howMuch">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Reason</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" formControlName="reason"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onSubmit()"
            [disabled]="newCreditForm.status === 'INVALID'">Create New Loan
        </button>
    </form>
</div>