.container {
    width: 18vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container input {
    outline: none;
    padding: 6px 0;
    margin: 10px 0;
    border-radius: 5px;
    font-family: 'Acme', sans-serif;
}
