<div class="parent">
    <!-- header starts -->
    <header class="header">
        <div class="header_subcontainer">
            <h1 class="title">Loan Management System</h1>
            <p>
                <a routerLink="/login">Log Out</a>
            </p>
        </div>
    </header>
    <!-- header ends -->

    <!-- side navigation starts -->
    <nav class="side_nav">
        <ul>
            <a routerLink="/home">
                <li>Home</li>
            </a>
            <a routerLink="/loans">
                <li>Loans</li>
            </a>
            <a routerLink="/contact-list">
                <li>Contact List</li>
            </a>
            <a routerLink="/new-credit">
                <li>New Credit</li>
            </a>
            <a routerLink="/add-new-friends">
                <li>Add New Friends</li>
            </a>
        </ul>
    </nav>
    <!-- side navigation ends -->

    <!-- main starts -->
    <main class="main">
        <div class="main_subcontainer">
            <div class="container">
                <form [formGroup]="newFriendForm">
                    <h3>Add New Friend Form</h3>
                    <mat-form-field>
                        <!-- <label for="firstName"><i class="fa fa-user"></i> Full Name</label> -->
                        <mat-label><i class="fa fa-user"></i><strong> Full Name</strong></mat-label>
                        <input type="text" matInput id="firstName" name="firstName" required pattern="[a-zA-Zа-яА-Я ]*"
                            maxLength='30' formControlName="fullName" placeholder="Full Name">
                        <div class="alert alert-danger" *ngIf="newFriendForm.controls['fullName'].hasError('pattern')">
                            Only letters are allowed !
                        </div>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label><i class="fa fa-envelope"></i><strong> Email</strong></mat-label>
                        <input type="email" matInput id="email" name="email" placeholder="john@example.com" required
                            maxLength='30' formControlName="email">
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label><i class="fa fa-address-card"></i><strong> Address</strong></mat-label>
                        <input type="text" matInput id="adress" name="address" placeholder="542 W. 15th Street" required
                            formControlName="address">
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label><i class="fa fa-institution"></i><strong> City</strong></mat-label>
                        <input type="text" matInput id="city" name="city" placeholder="New York" required
                            formControlName="city">
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label><i class="fa fa-phone"></i><strong> Phone Number</strong></mat-label>
                        <input type="tel" matInput id="phone" name="phone" placeholder="Phone Number..." required
                            formControlName="phone">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label><i class="fa fa-male"></i><strong> Gender</strong></mat-label>
                        <select matNativeControl id="gender" name="gender" required formControlName="gender">
                            <option *ngFor="let gen of gender" [value]="gen">{{gen}}</option>
                        </select>
                    </mat-form-field>

                    <button mat-raised-button (click)="onSubmit()" color="primary" routerLink="/profile"
                        [disabled]="!newFriendForm.valid">Add Friend
                    </button>
                </form>
            </div>
        </div>
    </main>
    <!-- main ends -->
</div>