<div class="container">
    <form [formGroup]="newFriendForm">
        <h3>{{'title.addNewFriend' | translate}}</h3>

        <mat-form-field>
            <mat-label>{{'label.email' | translate}}</mat-label>
            <input type="email" matInput id="email" name="email" placeholder="john@example.com" required
                formControlName="email">
            <mat-error *ngIf="newFriendForm.controls['email'].hasError('required')">
                {{'errors.emailRequired' | translate}}
            </mat-error>
            <mat-error
                *ngIf="newFriendForm.controls['email'].hasError('email') && !newFriendForm.controls['email'].hasError('required')">
                {{'errors.emailIsValid' | translate}}
            </mat-error>
        </mat-form-field>

        <button mat-raised-button (click)="onSubmit()" color="primary"
            [disabled]="!newFriendForm.valid">{{'buttons.addNewFriend' | translate}}
        </button>
    </form>
</div>