<div class="container">
    <form [formGroup]="newFriendForm">
        <h3>{{'title.addNewFriend' | translate}}</h3>
        <mat-form-field>
            <!-- <label for="firstName"><i class="fa fa-user"></i> Full Name</label> -->
            <mat-label>{{'ngContainer.fullName' | translate}}</mat-label>
            <input type="text" matInput id="firstName" name="firstName" required formControlName="fullName"
                placeholder="{{'ngContainer.fullName' | translate}}">
            <mat-error *ngIf="newFriendForm.controls['fullName'].hasError('required')">
                {{'errors.nameRequired' | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'label.email' | translate}}</mat-label>
            <input type="email" matInput id="email" name="email" placeholder="john@example.com" required
                formControlName="email">
            <mat-error *ngIf="newFriendForm.controls['email'].hasError('required')">
                {{'errors.emailRequired' | translate}}
            </mat-error>
            <mat-error
                *ngIf="newFriendForm.controls['email'].hasError('email') && !newFriendForm.controls['email'].hasError('required')">
                {{'errors.emailIsValid' | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'ngContainer.city' | translate}}</mat-label>
            <input type="text" matInput id="city" name="city" placeholder="{{'ngContainer.city' | translate}}" required
                formControlName="city">
            <mat-error *ngIf="newFriendForm.controls['city'].hasError('required')">
                {{'errors.cityRequired' | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'ngContainer.phone' | translate}}</mat-label>
            <input type="number" matInput id="phone" name="phone" placeholder="{{'ngContainer.phone' | translate}}"
                required formControlName="phone">
            <mat-error *ngIf="newFriendForm.controls['phone'].hasError('required')">
                {{'errors.phoneRequired' | translate}}
            </mat-error>
        </mat-form-field>

        <button mat-raised-button (click)="onSubmit()" (click)="createDialog()" color="primary"
            [disabled]="!newFriendForm.valid">{{'buttons.addNewFriend' | translate}}</button>
    </form>
</div>