.mat-raised-button {
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 20px;
}

.mat-raised-button:active {
  color: white;
  background-color: orange;
}

mat-form-field {
  width: 100%;
}

mat-label {
  font-size: 16px;
  color: white;
}

h3 {
  color: #6f6f6f;
  font-size: 24px;
  text-align: center;
}

.container {
  width: 50%;
  background-color: rgba(242, 242, 242, 0.7);
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin: 30px auto;
}
