<div class="parent">
    <!-- header starts -->
    <header class="header">
        <div class="header_subcontainer">
            <h1 class="title">Loan Management System</h1>
            <p>
                <a routerLink="/login">Log Out</a>
            </p>
        </div>
    </header>
    <!-- header ends -->

    <!-- side navigation starts -->
    <nav class="side_nav">
        <ul>
            <a routerLink="/home">
                <li>Home</li>
            </a>
            <a routerLink="/loans">
                <li>Loans</li>
            </a>
            <a routerLink="/contact-list">
                <li>Contact List</li>
            </a>
            <a routerLink="/new-credit">
                <li>New Credit</li>
            </a>
            <a routerLink="/add-new-friends">
                <li>Add New Friends</li>
            </a>
        </ul>
    </nav>
    <!-- side navigation ends -->

    <!-- main starts -->
    <main class="main">
        <div class="main_subcontainer">

        </div>
    </main>
    <!-- main ends -->
</div>