<mat-spinner *ngIf="!isLoansLoaded"></mat-spinner>
<div class="container">
    <mat-form-field appearance="fill">
        <mat-label>{{'label.selectUser' | translate}}</mat-label>
        <mat-select>
            <mat-option *ngFor="let user of users" [value]="user.name" (click)="selectUser(user)" >
                {{user.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="isLoansLoaded">
        <p class="debts">{{'p.myDebts' | translate}}: {{showSum(true)}}</p>
        <p class="debts">{{'p.friendsDebts' | translate}}: {{showSum()}}</p>
    </div>
    <mat-accordion *ngIf="isLoansLoaded">
        <mat-expansion-panel *ngFor="let loan of loans" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header [style.background]="setColor(loan)">
                <mat-panel-title>
                    {{'label.loanName' | translate}}: {{loan.loanName}}
                </mat-panel-title>
                <mat-panel-description>
                    <span>{{'span.userName' | translate}}</span> <span>: {{loan.secondPerson}}</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <p>{{'p.sum' | translate}}: {{loan.howMuch}} $</p>
                    <p>{{'p.reason' | translate}}: {{loan.reason}}</p>
                    <p>{{'p.date' | translate}}: {{loan.created_at}}</p>
                    <p>{{'p.total' | translate}}: {{loan.total}}$</p>
                    <p>
                        <span>{{'p.history' | translate}}: </span>
                        <span *ngFor="let history of loan.history">
                            {{history}} $
                        </span>
                    </p>
                </div>
                <div>
                    <!--Условие при котором кнопка будет отображаться
                        только у пользователя который даёт взаймы, а у пользователя который берёт кредит, 
                        он будет скрываться -->
                    <button *ngIf="this.id !== loan.secondPersonID" (click)="repay(loan.ID)" mat-raised-button color="primary">{{'buttons.repay' | translate}}</button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>