<mat-spinner *ngIf="!isLoansLoaded"></mat-spinner>
<div class="container" *ngIf="isLoansLoaded">
    <mat-form-field appearance="fill">
        <mat-label>{{'label.selectUser' | translate}}</mat-label>
        <mat-select>
            <mat-option *ngFor="let user of users" [value]="user.name" (click)="selectUser(user)">
                {{user.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let loan of loans" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'label.loanName' | translate}} {{loan.loanName}}
                </mat-panel-title>
                <mat-panel-description>
                    <span>{{'span.userName' | translate}}:</span><span>{{loan.secondPerson.name}}</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{'p.sum' | translate}}: {{loan.howMuch}} $</p>
            <p>{{'p.reason' | translate}}: {{loan.reason}}</p>
            <p>{{'p.date' | translate}}: {{loan.date}}</p>
            <p>Total: $</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>