.container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.container .debts {
  font-size: 20px;
  color: white;
}

.container mat-form-field {
  width: 50%;
  font-family: 'Acme', sans-serif;
}

mat-label,
mat-select {
  color: white;
}

.container mat-expansion-panel-header {
  width: 100%;
}

mat-panel-title,
mat-panel-description,
span,
p {
  color: black;
  font-size: 16px;
  font-family: 'Acme', sans-serif;
}

.container button {
  margin: 5px 0;
  background-color: rgb(49, 49, 233);
  color: white;
}

.container button:active {
  margin: 5px 0;
  background-color: greenyellow;
  color: black;
}

/* media queries */
@media (max-width: 991px) {
  .container {
    width: 90vw;
  }
}

/* media queries */
@media (max-width: 450px) {
  .container {
    width: 95vw;
  }

  .container p {
    font-size: 13px;
  }

  .container mat-accordion mat-expansion-panel-header mat-panel-description {
    font-size: 10px;
  }
}