.parent {
  display: grid;
  grid-template-columns: 3fr 12fr repeat(3, 1fr);
  grid-template-rows: 1fr 16.4fr repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header {
  grid-area: 1 / 1 / 2 / 6;
  background-color: #007af6;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.header_subcontainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_subcontainer h1 {
  color: white;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header_subcontainer p a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.header_subcontainer p a:hover {
  color: orange;
}

.side_nav {
  grid-area: 2 / 1 / 6 / 2;
  background-color: #30363a;
}

.side_nav ul {
  list-style: none;
  padding: 0px;
}

.side_nav a {
  text-decoration: none;
}

.side_nav a li {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  background: #111315;
  margin: 10px 0;
}

.side_nav a li:hover {
    background-color: orange;
}

.main {
    grid-area: 2 / 2 / 6 / 6;
    background: #d4d4d4;
}